{% for post in page_obj %}
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ post.title|safe }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Дата публикации: {{ post.pub_date|date:'d E Y' }}</h6>
        <p class="card-text">{{ post.full_text|safe|truncatechars:255 }}</p>
        <a href="{% url 'pages:post_page' post.pk %}" class="btn btn-secondary">подробная информация</a>
      </div>
    </div>
  </div>
{% endfor %}