{% extends "base.html" %}
{% block title %}Страница модератора{% endblock %}
{% block content %}
<div class="row gy-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form method="post" action="{% url 'pages:moderation' %}"
          >
          {% csrf_token %}
          {% include 'includes/create_fields.html' %} 
          <div class="d-grid gap-1 col-2 mx-auto">
            <button type="submit" class="btn btn-primary">
              Отправить
            </button>
           </div>
        </form>
      </div>
    </div>
  </div>
  {% include 'includes/posts.html' %}
</div>
{% endblock %}